.light {
  --background-color: #ffffff;
  --header-color: #ffffff;
  --blur: #ffffff;
  --card-color: #ffffff;



  --button-color: #fdc6c6;
  --button-text: #4d0000;
  --button-text-hover: #fdfdfd;
  --button-hover: #F34646;
  --tag-color: #ffc3a0;
  
  
  --text-color: #000000;
  --descript-color: #02020277;
  --text-button: #ffffff;
  
  --title: #333333;
  
  --white-color: #ffffff;
  
  --shadow-color: #ff3737d0;
  --hover-color: #ff7272;
  
  --shadow-card: #4d4d4d;
  --arrow: #2a355a;
  
  
  --film-rect:#ff6969;
  --ico-color:#ffffff;
}
.dark {
  --background-color: url(../images/backblue.jpg);
  --header-color: #212f49fd;
  --blur: #1a2538;
  --card-color: #1d2838;


  --button-color: #61dcf1;
  --button-text: #030303;
  --button-text-hover: #f7f0f0;
  --button-hover: #526fc0;
  --tag-color: #fce300d8;
  
  --text-button: #97c7ff;
  --text-color: #ffffff;
  --descript-color: #6baebe;
  --text-color-50: #c0c9e0;
  
  --white-color: #ffffff;
  
  --shadow-color: #90f8ff88;


  --title: #7099a5;

  --rating: #0f0f0f;
  --arrow-hover: #ffd1d1be;

  --film-rect:#eb0b0300;
  --ico-color:#63ffff;

}
